<mat-card>

  <mat-card-content>
    <h2 class="setting-h2">Settings</h2>

    <section class="setting-section">
      <label class="setting-margin">Language:</label>
      <mat-radio-group [(ngModel)]="language">
        <mat-radio-button class="setting-margin" value="vi">
          Tiếng Việt
        </mat-radio-button>
        <mat-radio-button class="setting-margin" value="en">
          English
        </mat-radio-button>
        <mat-radio-button class="setting-margin" value="jp">
          日本語
        </mat-radio-button>
      </mat-radio-group>
    </section>

    <form class="setting-form" [formGroup]="formGroup" (ngSubmit)="onFormSubmit()">

      <section class="setting-section2 setting-margin">
        <label class="setting-margin ">Select form to practice:</label>
        <mat-slide-toggle class="setting-margin" formControlName="dictionary">Từ điển
        </mat-slide-toggle>
        <mat-slide-toggle class="setting-margin" formControlName="polite">Lịch sự
        </mat-slide-toggle>
        <mat-slide-toggle class="setting-margin" formControlName="tform">Thể て
        </mat-slide-toggle>
      </section>

      <section class="setting-section3">
        <button mat-raised-button type="button" class="setting-margin" [routerLink]="'/'">Back</button>
        <button mat-raised-button type="submit" class="setting-margin">Save Settings</button>
      </section>
    </form>
  </mat-card-content>

</mat-card>
