mat-card {
  min-width: 200px;
  max-width: 500px;
  min-height: 400px;
  max-height: 900px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}

.setting-h2 {
  margin: 10px;
}

.setting-section1 {
  display: flex;
  align-content: center;
  align-items: center;
  height: 50px;
}

.setting-section2 {
  display: contents;
  height: 50px;
}

.setting-section3 {
  margin-top: 20px;
  height: 50px;
}

.setting-margin {
  margin: 10px;
}

.setting-form mat-slide-toggle {
  margin: 10px;
  display: block;
}

mat-divider {
  margin-bottom: 10px;
}
