<mat-card>
  <mat-card-header>
    <mat-card-title>Current streak {{currentStreak}}</mat-card-title>
    <mat-card-subtitle>Max streak {{maxStreak}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <wc-furigana value="{{ verb.jisho }}"></wc-furigana>
    <mat-list>
      <mat-icon mat-list-icon>adjust</mat-icon>
      <span class="column">{{ verb.form1 }}</span>
      <mat-icon mat-list-icon>adjust</mat-icon>
      <span class="column">{{ verb.form2 }}</span>
      <mat-icon mat-list-icon>adjust</mat-icon>
      <span class="column">{{ verb.form3 }}</span>
    </mat-list>
  </mat-card-content>

  <mat-form-field appearance="outline">
    <mat-label>Input result</mat-label>
    <input #result matInput [(ngModel)]="kana" (keyup)="convertRomajiToKana(result.value)">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
  </mat-form-field>

  <mat-card-actions>
    <button mat-fab color="primary" aria-label="Result" (click)="compareResult(result.value)">
      <mat-icon>all_inclusive</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
