mat-card {
  min-width: 200px;
  max-width: 500px;
  min-height: 400px;
  max-height: 900px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}

mat-card-content, mat-card-actions {
  text-align: center;
}

mat-form-field {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

span.column {
  padding-right: 20px;
  vertical-align: super;
}

wc-furigana {
  font-size: xxx-large;
}

mat-list {
  margin-top: 20px;
}
