<mat-card>

  <mat-card-header>
    <mat-card-title>Current streak {{currentStreak}}</mat-card-title>
    <div [ngClass]="pointClass">+1</div>
    <mat-card-subtitle>Max streak {{maxStreak}}</mat-card-subtitle>

    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Option" class="menu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="'/settings'">
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </button>
    </mat-menu>
  </mat-card-header>

  <mat-card-content>
    <wc-furigana value="{{ verb.jisho }}"></wc-furigana>
    <div class="meaning">{{ verb.vietnamese }}</div>

    <mat-list>
      <mat-icon mat-list-icon>adjust</mat-icon>
      <span class="column">{{ verb.form.name_vn }}</span>
      <span *ngIf="checkTense()">
        <mat-icon mat-list-icon>adjust</mat-icon>
        <span class="column">{{ verb.tense.name_vn }}</span>
      </span>
      <span *ngIf="checkType()">
        <mat-icon mat-list-icon>adjust</mat-icon>
        <span class="column">{{ verb.type.name_vn }}</span>
      </span>
    </mat-list>
  </mat-card-content>

  <mat-form-field appearance="outline">
    <mat-label>Kanji or hiragana</mat-label>
    <input #result name="result" matInput [(ngModel)]="kana" (keyup)="convertRomajiToKana(result.value)"
           (keyup.enter)="compareResult(result.value)" [disabled]="disabledResult">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
  </mat-form-field>

  <div id="correct">
    <div class="correct">
      <div class="group">
        Động từ nhóm <span>{{ verb.group == 4 ? 1 : verb.group }}</span>
      </div>
      <div>
        <mat-icon mat-list-icon class="bad">block</mat-icon>
        <span class="column">{{ input }}</span>
      </div>
      <div>
        <mat-icon mat-list-icon class="good">check_circle_outline</mat-icon>
        <span class="column">{{ verb.result2 }}</span>
      </div>
    </div>

    <mat-card-actions>
      <button mat-fab color="primary" aria-label="Result" (click)="refreshList()">
        <mat-icon>all_inclusive</mat-icon>
      </button>
    </mat-card-actions>
  </div>

</mat-card>
