@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
  height: 100%;
  background-color: black;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.progressbar {
  width: 180px;
  margin: 20px auto;
}

.progressbar .inner {
  height: 15px;
  animation: progressbar-countdown;
  /* Placeholder, this will be updated using javascript */
  animation-duration: 10s;
  /* We stop in the end */
  animation-iteration-count: 1;
  /* Stay on pause when the animation is finished finished */
  animation-fill-mode: backwards;
  /* We start paused, we start the animation using javascript */
  animation-play-state: paused;
  /* We want a linear animation, ease-out is standard */
  animation-timing-function: linear;
}

@keyframes progressbar-countdown {
  0% {
    width: 100%;
    /*background-image: url("src/assets/img/rope-link.jpg");*/
    /*background-repeat: repeat-x;*/
    /*background-size: contain, cover;*/
    background-color: lightpink;
    border-radius: 25px;
  }
  100% {
    width: 0%;
    /*background-image: url("src/assets/img/rope-link.jpg");*/
    /*background-repeat: repeat-x;*/
    /*background-size: contain, cover;*/
    background-color: lightpink;
    border-radius: 25px;
  }
}
