<meta http-equiv='cache-control' content='no-cache'>
<meta http-equiv='expires' content='0'>
<meta http-equiv='pragma' content='no-cache'>
<meta name="google-signin-client_id" content="924086004375-57q8obkea57eo2k8a1j8mk3p138hj0jf.apps.googleusercontent.com">
<script src="https://apis.google.com/js/platform.js?onload=triggerGoogleLoaded"></script>

<mat-card>

  <mat-card-content>
    <h2 class="authen-h2" i18n>Đăng nhập</h2>

    <div class="authen-container">
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Tên đăng nhập</mat-label>
          <input matInput #inputUsername="matInput" name="username">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="outline">
          <mat-label>Mật khẩu</mat-label>
          <input matInput #inputPassword="matInput" [type]="hide ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </p>

      <p>
        <button mat-raised-button type="submit" class="authen-margin"
                (click)="login(inputUsername.value, inputPassword.value)" i18n>Đăng nhập
        </button>
        <button mat-raised-button type="button" class="authen-margin" [routerLink]="'/'" i18n>Quay lại</button>
      </p>

      <div class="container mt-5">
        <h2>Hoặc</h2>
        <div class="row mt-5">
          <div class="col-md-4 mt-2 m-auto ">
            <button class="loginBtn loginBtn--google" #loginRef>
              Login with Google
            </button>
          </div>
        </div>
      </div>
    </div>

  </mat-card-content>

</mat-card>
