<mat-card>

  <mat-card-content>
    <h2 class="authen-h2" i18n>Đăng nhập</h2>

    <div class="authen-container">
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Tên đăng nhập</mat-label>
          <input matInput #inputUsername="matInput" name="username">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="outline">
          <mat-label>Mật khẩu</mat-label>
          <input matInput #inputPassword="matInput" [type]="hide ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </p>

      <p>
        <button mat-raised-button type="submit" class="setting-margin" (click)="login(inputUsername.value, inputPassword.value)" i18n>Đăng nhập</button>
      </p>
    </div>

  </mat-card-content>

</mat-card>
